{% include('includes/head.twig') %}

<body class="{{ body_class }}" >

  {% include('includes/header.twig') %}

  <div class="wrap" role="document">
    <div class="container">
        <div class="content">
          {% block content %}{% endblock %}
        </div><!-- /.content -->
    </div>
  </div><!-- /.wrap -->

  {% include('includes/footer.twig') %}

  {{ wp.wp_footer }}

</body>
</html>
