{% extends 'layouts/base.twig' %}

{% block content %}
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <div class="blog-wrapper">
                <div class="grid-ctn">
                    <div class="gr-12">
                        {{ post.content }}
                    </div>
                </div>
                {# {% for cat in categories %}
                    {{cat.name}}
                {% endfor %} #}
                {% if servCat != -1 %}
                    <div class="grid-ctn">
                        <div class="gr-12">
                            <a class="round-btn" href="{{TimberPost(servCat).link}}">Revenir à la Catégorie {{ servCatName }}</a>
                        </div>
                    </div>
                {% endif %}
            </div>

        </main><!-- #main -->
    </div><!-- #primary -->
{% endblock %}
