# WordPress
web/wp

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env.php
!.env.example.php

*.pem
*.ppk

# Application
web/app/plugins/*
!web/app/plugins/acf-repeater/
web/app/uploads/*

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Vagrant
bin
.vagrant

# Sublime
*.sublime-project
*.sublime-workspace

# Bower
web/app/themes/sprig-master/node_modules/
web/app/themes/sprig-master/vendor/
web/app/themes/sprig-master/dist/
web/app/themes/sprig-master/.sass-cache/
