//Footer specific stylings
.left {
    float:left;

    .contact {
        font-size: 90%;
        margin-top: 10px;
        div, a {
            margin-top: 5px;
        }
        a {
            text-decoration: underline;
            color: white;
            display: block;
        }
    }
}

.right {
    float:right;
}
footer {
    margin-top: 50px;
    background: black;

    @media #{$small} {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media #{$phone} {
        padding-left: 10px;
        padding-right: 10px;
    }

    & > div.container {
        padding-top: $doublevertMargin;
        padding-bottom: $doublevertMargin;
        color: white;

        .right {
            a:hover {
                text-decoration: none;
                color:white;
            }
        }
    }
}
