//Header specific stylings
header.banner {
    min-height: 0;
    background: none;
    border-bottom: none;
    color: #393939;
    padding-top: 5px;
    // background: #393939;
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // padding-bottom: 400px;

    @media #{$medium} {
        padding-top: 0;
    }

    @media #{$small} {
        padding-bottom: 200px;
    }

    @media #{$phone} {
        // background: #393939 !important;
        padding-bottom: 130px;
    }

    .head-contacts {
        width: 100%;
        text-align: right;
        // padding: 12px;
        // background: $dominant;
        position: relative;
        overflow: hidden;
        // border-radius: 30px;

        @media #{$medium} {
            border-radius: 0;
        }

        div.contacts {
            float:right;
            & > div, & > a {
                display: inline-block;
                font-size: 80%;
                margin-right: 10px;
                color: #393939;
            }
            & > a {
                text-decoration: underline;
            }
        }
        
    }

    .navbar-brand {
        display: none;
    } 

    .logo {
        max-width: 400px;
        position: relative;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }

    nav.main-nav {
        @include clearfix();
        width: 100%;

        & > div {
            border-bottom: 1px solid #757575;
            padding-top: $vertMargin;
            padding-bottom: $vertMargin;
        }

        ul {
            text-align: center;
        }

        ul > li {
            display: inline-block;
            margin-right: 25px;

            a {
                color: #393939;
                border-bottom: 1px solid transparent;

                &:hover {
                    text-decoration: none;
                    border-color: #393939;
                }
            }

            &:first-child {
                padding-left: 0;
            }

            &.current {
                a {
                    border-color: #393939;
                    pointer-events:none;
                }
            }
        }
    }

    &.small {
        padding-top: 0;
        padding-bottom: 0;
        z-index: 10;
        background: rgba(0, 0, 0, 0.75) !important;
        position: fixed;

        .logo {
            display: none;
        }

        .head-contacts {
            display: none;
        }

        nav.main-nav {
            & > div {
                border-bottom-color: transparent;
            }
            ul > li a {
                text-shadow: none;
                color: white;
            }
        }

    }
}

body.header-small {
    padding-top: 436px;
}
