button, input, select, textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}
@import "lists";
@import "tables";
@import "buttons";
@import "fields";
@import "comments";
@import "wp-fixes";

@import "../../../node_modules/gridle/sass/gridle/gridle"; 

@include gridle_setup( (
    context : 12,
    gutter-width : $vertMargin,
    direction : ltr
) );


@include gridle_generate_classes ( );

.grid-ctn {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.swiper-pagination-bullet-active {
    background: $dominant;
}

.swiper-container {
    img {
        width: 100%;
    }

    .swiper-slide {
        position: relative;

        .inner-slide {
            width: 100%;
            position: relative;
            overflow: hidden;
        }

        .caption {
            position: absolute;
            width: 100%;
            overflow: hidden;
            font-size: 95%;
            color: white;
            background: rgba(0, 0, 0, 0.75);
            bottom: 0;
            left: 0;
            padding: 10px 10px 30px 10px;

            @media #{$phone} {
                position: relative;
                bottom: auto;
                left: auto;
                background: black;
            }
        }
    }
}

.swiper-button-prev {
    @include icon(arrow-left);
    @media #{$phone} {
        display: none;
    }
}

.swiper-button-next {
    @include icon(arrow-right);
    @media #{$phone} {
        display: none;
    }
}

.swiper-button-prev, .swiper-button-next {
    margin: 0;
}

.blog-wrapper .text-content {
    @media #{$small} {
        img {
            max-width: 100%;
            height: auto;
        }
    }
}
