input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	@include border-radius(3px);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}

label {
    margin-bottom: 6px;
    display: block;

    div {
    	display: inline-block;
    	margin-left: 2px;
    	vertical-align: super;
    	font-size: 75%;
    	color: red;  
    }
}

input, label {
    width: 100%;
}

input[type=text], input[type=number], input[type=email], textarea {
    border: 1px solid #eeeeee;
    border-radius: 3px;
    padding: 7px 4px;
    display: inline-block;

    &.small {
        width: 50%;
        min-width: 250px;
    }

    &.tiny {
    	width: 100px;
    }

    &.error {
        border-color: red;
        color: red;
    }
}

input[type=submit] {
	display: inline-block;
	padding: 12px 20px;
	background: $dominant;
	color: white;
	text-align: center;
	border-radius: 3px;
	border: 0;
	text-transform: uppercase;
}

.select-style {
    padding: 0;
    display: inline-block;
    margin: 0;
    border: 1px solid #eeeeee;
    width: 130px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;

    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;

    &.tiny {
    	width: 100px;
    }
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}


button {
    margin-top: $vertMargin;
    background: $dominant;
    border: 1px solid white;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;

    &:hover {
        background: white;
        color: $dominant;
        border-color:$dominant;
    }
}
