$font_site-default: "Courier 10 Pitch", Courier, monospace;

$color_site-default:#000;
$color_white: #fff;

$size_site-main: 100%;
$size_site-sidebar: 25%;

$dominant: #484848;

$secondBG: #484848;
$thirdBG: #f8f8f8;

$assetPath : "..";

$vertMargin :       15px;
$doublevertMargin : 30px;
$triplevertMargin : 45px;

$phone : "only screen and (max-width : 480px)";
$small : "only screen and (max-width : 1024px)";
$medium : "only screen and (max-width : 1200px)";
