body.page-wishlist {
    ul.product-list {
        padding: 0 15px;
        li {
            @media #{$small} {
                .gr-2, .gr-3, .gr-4 {
                    width: 25%;
                    float: left;
                    margin-bottom: 0;
                }

                .gr-5, .gr-6 {
                    width: 50%;
                    float: left;
                    margin-bottom: 0; 
                }
            }
            

            padding: $vertMargin 0;
            &.mod-line {
                background: #EEE;
            }

            .mtop {
                @media #{$small} {
                    margin-top: 0;
                }
                display: block;
                margin-top: 40px;
            }

            button {
                @media #{$small} {
                    margin-top: 0;
                }
                margin-top: 35px;
                border-color: $dominant;
            }

            img {
                width: 100px;
            }

            &.total-row {
                font-weight: bold;
                font-size: 130%;
                background: $secondBG;
                color: white;

                .gr-6 {
                    text-align: center;
                }
            }
        }
    }

    .form .error {
        color: red;
    }

    .form .checkox {
        color: white;
        label {
            margin-left: 5px;
        }
        a {
            color: white;
            text-decoration: underline;
        }
    }

    .send.form {
        margin-top: $doublevertMargin;
        background: $dominant;
        padding: $vertMargin 15px;

        h2 {
            color: white;
        }

        .last.gr-12 {
            margin-bottom: 0;
        }
    }
}
